:root {
    --orange: #FFB41C;
    --blue: #191443;
    --darkblue: #0E0A2B;
    /* Global Variable definitions */
}

html {
    scroll-behavior: smooth;
    /* 
    When user clicks a button that directs them to another section of the page
    Scrolling will be smooth rather than an instant redirect.
    */
}

body {
    margin: 0;
    color: white;
    background: radial-gradient(50% 50% at 50% 50%, var(--blue) 0%, var(--darkblue) 100%);
    /* Removes the margin for the entire html document. We want the html doc to be filled entirely */
}

.hero-background {
    height: 100vh;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}

.navlink {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navlink:hover {
    border-bottom: 2px solid var(--orange);
}

.navigation li {
    list-style: none;
}

.navtitle {
    font-size: 32px;
    font-weight: bold;
}

.navlinks {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.navlinks li {
    padding: 5px 14px;
}

.orange-text {
    color: var(--orange);
}

.contactbtn {
    border-radius: 0.375rem;
    border: 1px solid transparent;
    background-color: var(--orange);
    padding: 0.5rem 1rem;
}

.contactbtn a {
    color: var(--darkblue);
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 1rem;
}

.navmenu input[type=checkbox] {
    display: none;
}

.hamburgermenu {
    display: none;
    font-size: 24px;
    user-select: none;
}

.hero-container {
    margin-top: 7rem;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.hero-logo img {
    border-radius: 9999px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
}

.hero-header {
    font-size: 64px;
    font-weight: bold;
}

.hero-text {
    display: flex;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    margin-top: -90px;
    font-size: 48px;
    font-weight: bold;
}

.gettingstartedbtn {
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.375rem;
    border: 1px solid transparent;
    background-color: var(--orange);
    padding: 0.5rem 1rem;
    width: fit-content;
}

.gettingstartedbtn a {
    text-decoration: none;
    color: var(--darkblue);
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 1rem;
}

@media (max-width: 963px) {

    .navigation {
        text-align: center;
        justify-content: center;
    }

    .navlinks {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .navmenu input[type=checkbox]:checked~.navlinks {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hamburgermenu {
        display: block;
    }

    .contactbtn {
        background-color: transparent;
    }

    .contactbtn a {
        color: white;
        font-weight: bold;
    }
}

@media (max-width: 420px) {
    .navtitle {
        font-size: 24px;
    }
}

@media (max-width: 500px) {
    .hero-text {
        font-size: 8vw;
    }
}

@media (max-width: 1240px) {
    .navigation {
        margin-left: 10%;
        margin-right: 10%
    }
}

@media (max-width: 1084px) {
    .navigation {
        margin-left: 5%;
        margin-right: 5%;
    }
}